* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F0FFFF;
	width: 80%;
	margin: 0 auto;
}

.header {
	text-align: center;
}

.main-contents {
	margin-top: 20px;
}

.main-contents a {
	font-weight: bold;
	margin-left: 20px;
	text-decoration: none;
}

.narrowedDown {
	display: flex;
	height: 30px;
}

.narrowedDown input{
	border: none;
	border-radius: 10px;
	outline: none;
}

.narrowedDown label{
	font-weight: bold;
	margin-top: 5px;
	margin-right: 8px;
}

.narrowedDown1 {
	display: flex;
	margin-right: 20px;
}

.narrowedDown2 {
	display: flex;
	margin-right: 20px;
}

.narrowedDown2 {
	display: flex;
	margin-right: 20px;
}

.narrowedDown2 input[value="絞込み"]{
	display: inline-block;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	background: #668ad8;/*ボタン色*/
  	color: #FFF;
  	border-bottom: solid 4px #627295;
  	border-radius: 3px;
}

.narrowedDown2 input[value="絞込み"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);/*下に動く*/
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  	border-bottom: none;
}

.messages-container {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.message {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}

.message-element {
	display: flex;
	width: 400px;
	margin: 5px auto 5px auto;
}

.message-element p {
	margin-right: 8px;
	font-weight: bold;
}

.message-element input[value="削除"]{
	background-color: #990033;
	display: inline-block;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	background-color: #990033;
  	color: #FFF;
  	border-bottom: solid 4px #627295;
  	border-radius: 3px;
}

.message-element input[value="削除"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);/*下に動く*/
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);/*影を小さく*/
  	border-bottom: none;
}

.comment-element {
	display: flex;
	width: 400px;
	margin: 5px auto 5px auto;
}

.comment-element p {
	margin-right: 8px;
	font-weight: bold;
}

.comment-element input[value="削除"]{
	background-color: #990033;
	display: inline-block;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	color: #FFF;
  	border-bottom: solid 4px #627295;
  	border-radius: 3px;
}

.comment-element input[value="削除"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);/*下に動く*/
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);/*影を小さく*/
  	border-bottom: none;
}


.comment-fw-element {
	display: flex;
	align-items: center;
	width: 400px;
	margin: 5px auto 5px auto;
}


.comment-fw-element label {
	margin-right: 8px;
	font-weight: bold;
}

.comment-fw-element textarea {
	width: 250px;
	height: 120px;
}

.comment-button-element {
	width: 400px;
	margin: 5px auto 5px auto;
}

.comment-button-element input[value="コメント投稿"]{
	background-color: #FF9900;
	display: inline-block;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	color: #FFF;
  	border-bottom: solid 4px #627295;
  	border-radius: 3px;
}

.comment-button-element input[value="コメント投稿"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);/*下に動く*/
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);/*影を小さく*/
  	border-bottom: none;
}

.copyright {
	text-align: center;
	padding: 10px;
}
